.nav {
  display: flex;
  color: white;
  overflow-x: scroll;
  padding: 10px;
  padding-left: 40px;
}

/* Hide scrollbar for chrome, safari and opera */
.header::-webkit-scrollbar {
    display: none;
  }
  
  .header {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }